//** Buttons */
.btn-primary {
  color: #fff;

  &:hover,
  &:active,
  &:focus {
    color: #fff;
  }
}

/** Links */
.slab-link {
  text-transform: uppercase;
  font-weight: 700;
  color: $primary;
  text-decoration: none;
  transition: 0.2s all ease;

  &:hover,
  &:active,
  &:focus {
    color: darken($primary, 10%);
  }

  &--arrow {
    position: relative;

    &::after {
      content: "";
      display: inline-block;
      width: 0.75rem;
      height: 0.75rem;
      position: relative;
      top: -1px;
      left: 0;
      margin-left: 0.2rem;
      background: no-repeat center url("../images/icons/arrow-contrast-right.svg");
      background-size: contain;
      vertical-align: middle;
      transition: 0.2s all ease;
    }

    &:hover,
    &:active,
    &:focus {
      &::after {
        left: 2px;
      }
    }
  }
}

//** Return to Top Button */
.rtt-button {
  position: fixed;
  right: 1rem;
  bottom: 1rem;

  &:hover,
  &:active,
  &:focus {
    bottom: 1.5rem;
  }

  &__icon {
    height: 3rem;
    line-height: 3rem;
    width: 3rem;
    border-radius: 100%;
  }
}