.slab-slide {
  &__overlay {
    opacity: 0.5;
    background-color: #333;
  }
}

.slab-swiper {
  &__pagination {
    .swiper-pagination-bullet {
      height: 1rem;
      width: 1rem;
      border-radius: 1rem;
    }
  }

  &--single {
    .slab-slide {
      height: 25rem;
    }
  }
}
