/** Secondary Menu */

.secondary-menu {
  &__list {
    & > li {
      display: inline-block;

      @include media-breakpoint-up(md) {
        margin-left: $spacer;
        padding-left: $spacer;
        border-left: 1px solid #ddd;
      }
    }
  }
}
