/** Edges - use to define theme edges as rounded or sharp */
.slab-edge {
  border-radius: $br-base;	
}

/** Background + Patterns */

$bottom-height: 7rem;

.bg-w-bottom {
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: $bottom-height;
    background-color: #fff;
    z-index: 0;
  }

  @each $name, $color in $theme-colors {
    &--#{$name} {
      &::after {
      background-color: $color;
      }
    }
  }
}

/** Transitions */
.transition {
  transition: 0.25s all ease;
}

/** Z-Indexes */
.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 2;
}
