/**
 * Use this file to customize the bootstrap variables (colors, fonts, etc)
 *
 * Using the base _variables.scss file provided by Bootstrap, you can override any variables
 * set in the original file by adding them below with the new value.
 *
 * @link https://getbootstrap.com/docs/5.0/customize/sass/#file-structure
 * @link https://github.com/twbs/bootstrap/blob/v5.0.2/scss/_variables.scss
 */

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

/* Colors */
$primary: #0A6CB4;
$secondary: #2B7A78;
$contrast: #3AAFA9;
$light: $gray-100;
$dark: $gray-900;

// Create your own map
$custom-colors: (
  "contrast": $contrast,
  "green": $contrast,
  "green-dark": $secondary,
  "blue": $primary,
  "white": #fff,
  "light": $light,
  "gray" : $gray-200,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

/* Body Colors */
$body-bg: $white;
$body-color: $gray-900;
$link-color: $primary;
$link-decoration: underline;
$link-shade-percentage: 20%;
$link-hover-color: shift-color($link-color, $link-shade-percentage);
$link-hover-decoration: null;

/* Typography */

$font-family-sans-serif: "Poppins",
  "Helvetica Neue", "Arial", "Noto Sans", "Liberation Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-serif: "Georgia", serif;
$font-family-base: $font-family-sans-serif;
$headings-font-family: $font-family-sans-serif;
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;


/** Border Radius for Theme Edges */
$br-base: 0.75rem;

/** Button Variables */
$btn-font-weight: 700;
$btn-border-radius: 1.25rem;
