/** Search form */
.searchform {
  &__submit {
    top: 0;
    right: 0;
  }

  label {
    font-weight: normal;
    font-size: 0.75rem;
    vertical-align: top;
  }

  .search-field {
    @extend .form-control;
  }

  .search-submit {
    @extend .btn;
    @extend .btn-secondary;
  }
}

/** Radios */
.radio {
  &--styled {
    appearance: none;
    border: 1px solid #ddd;
    background-color: #fff;
    width: $spacer;
    height: $spacer;
    border-radius: $spacer;

    &:checked {
      border-color: $primary;
      background-color: $primary;

      & + label {
        font-weight: bold;
      }
    }
  }
}
